/* CSS declarations go here */
/*-----------------------------------------------

   TABLE OF CONTENTS
   •Top Navigation
        - dashboard
        - mini nav
   •Side bar navigation
   •page content
        - active apps
        -inactive apps

------------------------------------------------*/
.ats-green {
    color: #339933
}

body, h1, h2, h3, h4, h5, h6 {
    font-weight: 200;
}

.t-center {
    text-align: center;
}
.left-line{
    border-left:solid #ccc 1px;
}

/*-----------------------------------------------

    Top Navigation

------------------------------------------------*/
.top-nav {
    border-bottom: 1px solid #cccccc;
    /*position: fixed;*/
}

.top-nav__logo {
    background-color: green;
}

.top-nav__dashboard__hamburger {
    padding: 20px 10px;
}

.top-nav__dashboard__title {
    padding-left: 30px;
}

.top-nav__mini {
    float: right;
}

.top-nav__mini__item {
    float: left;
    list-style-type: none;
    padding: 20px 15px;
    color: #333;
}

/*-----------------------------------------------

    Side bar navigation

------------------------------------------------*/

.side-bar {
    background-color: #333;
    color: white;
    position: fixed;
    padding-bottom: 40px;
}

.side-bar__mini-navigation {
    background-color: #7B7B82;
    padding: 12px 0px 8px 60px;
}

.side-bar__mini-navigation i {
    margin-left: 20px;
}

.profile__avatar i {
    border: 1px solid #ccc;
    padding: 8px;
    margin: 10px;
}

.profile__name h4 {
    margin: 20px 0px 0px 100px;
}

.side-bar__section__items {
    background-color: #424248;
    margin: 5px 0px;
    padding: 5px 0px;
}

.items__title span {
    float: right;
}

/*-----------------------------------------------
    page content
------------------------------------------------*/
.page-content {
    position: relative;
    left: 20%;
}

/*-----------------------------------------------
       page content slider
------------------------------------------------*/
.fa-stack {
    position: relative;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
    margin-top: 110px;
}

i.fa-stack-1x.fa-inverse.fa-fw {
    padding-top: 2px;
}

i.fa.fa-circle.fa-stack-2x {
    opacity: 0.6;
}

.slider {
    background-image: url("https://cdn.atssecured.com/sso/img/banners/banner2.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 245px;
    width: 100%;
    margin-top: 30px;

}

/*------------------------------------------------
dashboard
------------------------------------------------*/
/*all app tiles*/
.apps__item {
    padding-top: 30px;
    margin-left: 40px;
}

.apps__item p {
    padding-top: 20px;
}

.apps__item__icon {
    border: 1px solid #7B7B82;
    border-radius: 5px;
    padding: 80px 20px;
    background-size:contain;
    background-repeat: no-repeat;
    height: 280px;
    z-index: 99;
}
/*.inactive-apps__item--soon{*/
    /*background-image: url(https://cdn.atssecured.com/sso/img/coming_soon_icon.png);*/
    /*background-repeat: no-repeat;*/
    /*background-size:contain ;*/
    /*z-index: 100;*/

/*}*/
.soon-icon{
    z-index: 100%;
}


/*Modifiers of app tiles*/

.apps__item__icon--pro {
    background-image:url("https://cdn.atssecured.com/sso/img/app-icons/Pro.png");
}

.apps__item__icon--vendor {
    background-image:url("https://cdn.atssecured.com/sso/img/coming_soon_icon.png"),
    url("https://cdn.atssecured.com/sso/img/app-icons/Vendor.png");
}

.apps__item__icon--standards {
    background-image:url("https://cdn.atssecured.com/sso/img/coming_soon_icon.png"),
    url("https://cdn.atssecured.com/sso/img/app-icons/Standards.png");
}

.apps__item__icon--vendor-plus {
    background-image:url("https://cdn.atssecured.com/sso/img/coming_soon_icon.png"),
    url("https://cdn.atssecured.com/sso/img/app-icons/Vendor+.png");
}

.apps__item__icon--pay {
    background-image:url("https://cdn.atssecured.com/sso/img/coming_soon_icon.png"),
    url("https://cdn.atssecured.com/sso/img/app-icons/Pay.png");
}

.apps__item__icon--monitor {
    background-image:url("https://cdn.atssecured.com/sso/img/coming_soon_icon.png"),
    url("https://cdn.atssecured.com/sso/img/app-icons/Monitor.png");
}
/*.triangle-topleft {*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-top: 100px solid #ffdb6f;*/
    /*border-right: 100px solid transparent;*/
    /*z-index: 100;*/
/*}*/
/*-----------------------------------------------
onboarding
-----------------------------------------------*/
.onboarding__organization{
 border:solid 1px #ccc;
    border-radius: 8px;
}
/*------------------------------------------------
shadows
------------------------------------------------*/
.box-shadow--2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12)
}

.box-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
}

.box-shadow--4dp {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2)
}

.box-shadow--6dp {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2)
}

.box-shadow--8dp {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2)
}

.box-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
}

